<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MactoPC_Pathfinder.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MactoPC_Pathfinder.My.MySettings>
            <setting name="Screencapturekey" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="Marketing" serializeAs="String">
                <value>H</value>
            </setting>
            <setting name="StorageNy" serializeAs="String">
                <value>J</value>
            </setting>
            <setting name="Usershares" serializeAs="String">
                <value>K</value>
            </setting>
            <setting name="ArchiveProjects2016" serializeAs="String">
                <value>L</value>
            </setting>
            <setting name="ArchiveProjects2017" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="Multimedia" serializeAs="String">
                <value>Y</value>
            </setting>
            <setting name="jkrAssetBank" serializeAs="String">
                <value>Z</value>
            </setting>
            <setting name="SModifierkey" serializeAs="String">
                <value>Hotkey.KeyModifier.Alt</value>
            </setting>
            <setting name="Shortcutkey" serializeAs="String">
                <value>V</value>
            </setting>
            <setting name="Delay" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Software" serializeAs="String">
                <value>V</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>M</value>
            </setting>
        </MactoPC_Pathfinder.My.MySettings>
    </userSettings>
</configuration>